<div class="games_info">

  <h4>Your Game Stats for <%= @game.custom_name %></h4>

  <h4>Difficulty: <%= @game.difficulty %></h4>

  <h4>Category: <%= @game.category %></h4>

  <p><%= button_to "Restart Game", "/games/#{@game.id}", method: :get %></p>
  <p><%= button_to "Go Back to My Games", "/games", method: :get%></p>

</div>
