<div class="games_info">

  <center>

  <h3>Game Stats for <%= @game.custom_name %></h3>
  <br>
  <h4>Difficulty: <%= @game.difficulty %></h4>
  <br>
  <h4>Category: <%= @game.category %></h4>
  <br>
  <p><%= button_to "Restart Game", "/games/#{@game.id}", { method: :get, class: 'btn btn-primary'} %></p>
  <p><%= button_to "Go Back to My Games", "/games", { method: :get, class: 'btn btn-primary'} %></p>

  </center>

</div>
