<script src="https://code.responsivevoice.org/responsivevoice.js?key=<%= ENV['RESPONSIVE_JS_KEY']%>"></script>
<center id='play-button'>
  <input value='Play Game' onclick="responsiveVoice.speak(document.getElementById('question-0').textContent);" type='button' class='btn btn-success' data-toggle='modal' data-target='#myModal-0' />
</center>

<% questions.each_with_index do |q, i| %>
<div class="modal" id="myModal-<%= i %>" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="mainModalLabel">
            Question <%= i + 1 %>
          </h4>
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>

        <p id='question-<%= i %>'><%= q[:question] %></p>
        <hr>
        <ul>
        <% q[:options].each_with_index do |option, i|  %>
          <p class='option-<%= i + 1 %>'> <%= check_box_tag("option-#{i}", checked = true) %> <%= option %></p>
        <% end %>
        </ul>
        <hr />
        <input id='next-button' value='Next' onclick="responsiveVoice.speak(document.getElementById('question-<%= i + 1 %>').textContent);" type='button' class="btn btn-primary btn-lg btn-block" data-dismiss='modal' data-toggle='modal' data-target='#myModal-<%= i + 1 %>' />
      </div>
  </div>
</div>
<% end %>


<!-- <section id='question-modal'> -->
  <!-- < % questions.each_with_index do |q, i| %> -->
    <!-- <p class='question'>Question < %= i + 1 %>: < %= q[:question] %></p> -->

    <!-- <ul> -->
    <!-- < % q[:options].each_with_index do |option, i|  %> -->
      <!-- <p class='option-< %= i + 1 %>'> < %= check_box_tag("option-#{i}", value = '1') %> < %= option %></p> -->
    <!-- < % end %> -->
    <!-- </ul> -->
  <!-- < % end %> -->
<!-- </section> -->
