<script src="https://code.responsivevoice.org/responsivevoice.js"></script>
<center>
  <input value='Play Game' onclick="responsiveVoice.speak(document.getElementById('question-0').textContent);" type='button' class='btn btn-success' data-toggle='modal' data-target='#myModal-0' />
</center>

<%= form_with(url: "/end_game", method: :get) do  %>
  <% questions.each_with_index do |q, i| %>
  <div class="modal" id="myModal-<%= i %>" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="mainModalLabel">
              Question <%= i + 1 %> of <%= @number_of_questions %>
            </h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          </div>
          <p id='question-<%= i %>'><%= q[:question] %></p>
          <hr>
          <ul>
          <% q[:options].each_with_index do |option, i|  %>
            <p id='option-<%= i + 1 %>'>
              <%= radio_button_tag("question[#{q[:id]}]", q[:correct_answer]==option) %> <%= option %>
            </p>
          <% end %>
          </ul>
          <hr />
          <% if (i + 1) == @number_of_questions %>
            <%= submit_tag "Submit" %>
          <% else %>
            <input value='Next' onclick="responsiveVoice.speak(document.getElementById('question-<%= i + 1 %>').textContent);" type='button' class="next-btn btn btn-primary btn-lg btn-block" data-dismiss='modal' data-toggle='modal' data-target='#myModal-<%= i + 1 %>' />
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
