<script src="https://code.responsivevoice.org/responsivevoice.js"></script>
<center>
  <input value='Play Game' onclick="responsiveVoice.speak(document.getElementById('question-0').textContent);" type='button' class='btn btn-success' data-toggle='modal' data-target='#myModal-0' />
</center>

<%= form_with(url: "/calculate_score", method: :get) do  %>
<input type="hidden" id="game_id" name="game_id" value="<%= game_id %>" />
  <% questions.each_with_index do |question, index| %>
  <div class="modal" id="myModal-<%= index %>" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="mainModalLabel">
              Question <%= index + 1 %> of <%= total_questions %>
            </h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          </div>
          <p id='question-<%= index %>'><%= question.question %></p>
          <hr>
          <ul>
          <% question.options.each_with_index do |option, index|  %>
            <p id='option-<%= index + 1 %>'>
              <%= radio_button_tag("question[#{question.id}]", question.correct_answer==option) %> <%= option %>
            </p>
          <% end %>
          </ul>
          <hr />
          <% if (index + 1) == total_questions %>
            <%= submit_tag "Submit" %>
          <% else %>
            <input value='Next' onclick="responsiveVoice.speak(document.getElementById('question-<%= index + 1 %>').textContent);" type='button' class="next-btn btn btn-primary btn-lg btn-block" data-dismiss='modal' data-toggle='modal' data-target='#myModal-<%= index + 1 %>' />
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<!-- < %= button_to 'Send email', notification_path(game_id) %> -->
