<!DOCTYPE html>
<html>
  <head>
    <title>TomatoTime</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Fredoka+One|Indie+Flower&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/671a6667b5.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/css" src="./app/assets/stylesheets/application.scss"></script>
    <!-- <script type="text/javascript" src="./app/assets/javascripts/application.js"></script> -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- < %= javascript_include_tag "application" %> -->
  </head>

  <body>
    <topnav id="top-navbar">
  <nav class="navbar navbar-expand-lg">
     <a href="/"><img src="https://user-images.githubusercontent.com/49769068/67919363-f32da880-fb97-11e9-9742-06b59c05e8b2.png" alt="TomatoTime" height="75" width="300"></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
       <ul class="navbar-nav">
         <% if current_user.nil? %>
            <a class="navbar-brand" href="/auth/google_oauth2"><span class="fas fa-play"></span><span class="link">Login/Register with Google</span></a>
          <% else %>
            <a class="navbar-brand" href="/games"><span class="fas fa-gamepad"></span><span class="link">My Games</span></a>
            <a class="navbar-brand" href="/profile"><span class="fas fa-users"></span><span class="link">Profile</span></a>
            <a class="navbar-brand" href="/logout"><span class="fas fa-door-open"></span><span class="link">Logout</span></a>
         <% end %>
       </ul>
     </div>
     <div class = "center" style="text-align: right">
       <img src="https://thumbs.gfycat.com/BriskLankyCopperhead-size_restricted.gif" alt="Tomato" height="80" width="105">
     </div>

   </nav>
  </topnav>


    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
